<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smart_Training_Institute_Portal</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Smart_Training_Institute_Portal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smart_Training_Institute_Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Courses" asp-action="Catalog">Course Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Courses" asp-action="LiveCatalog">Live Catalog</a>
                        </li>

                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Departments" asp-action="Index">Departments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Courses" asp-action="Index">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="CourseTags" asp-action="Index">Course Tags</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="InstructorProfiles" asp-action="Index">Instructors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="StudentProfiles" asp-action="Index">Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="CourseInstructors" asp-action="Index">Assign Instructors</a>
                            </li>
                        }

                        @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Instructor")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="GradeAuditLogs" asp-action="Index">Grade Logs</a>
                            </li>
                        }

                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Enrollments" asp-action="MyCourses">My Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Enrollments" asp-action="MyGrades">My Grades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Enrollments" asp-action="PerformanceSummary">Performance</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Smart_Training_Institute_Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
